*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 70%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }

body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
  outline: none;
  letter-spacing: .5px; }

.addlink {
  text-decoration: none;
  outline: none;
  border-bottom: 1px solid #195C89;
  font-weight: 600;
  color: #195C89; }

.removelink {
  text-decoration: none;
  outline: none;
  color: inherit; }

.home {
  height: 100%;
  width: 100%;
  position: relative; }

.vision {
  margin-top: 7rem;
  height: 100%;
  width: 100%;
  position: relative; }

.about {
  margin-top: 7rem;
  height: 100%;
  width: 100%;
  position: relative; }

.holochain {
  margin-top: 7rem;
  height: 100%;
  width: 100%;
  position: relative; }

.connect {
  margin-top: 7rem;
  height: 100%;
  width: 100%;
  position: relative; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 8rem;
  background-color: white;
  display: flex;
  padding: 0 4rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee; }
  .nav__logo--container {
    height: 3rem;
    display: flex;
    align-items: center; }
  .nav__logo--image {
    height: 100%; }
  .nav__logo--text {
    font-size: 17px;
    font-weight: 500;
    margin-left: .75rem;
    color: #333; }
  .nav__items {
    display: flex;
    align-items: center; }
  .nav__item {
    margin-left: 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #555;
    cursor: pointer;
    transition: all .2s; }
    .nav__item:hover {
      color: #195C89; }
    @media (max-width: 56.25em) {
      .nav__item {
        display: none; } }
  .nav__button {
    margin-left: 3rem;
    padding: 1rem 2rem;
    color: #333;
    border-radius: 25px;
    border: 1.5px solid #333;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s; }
    .nav__button:hover {
      transform: scale(1.05); }
  .nav__mobile {
    display: none;
    cursor: pointer; }
    @media (max-width: 56.25em) {
      .nav__mobile {
        height: 2rem;
        margin-left: 2rem;
        display: block; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 70%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }

body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
  outline: none;
  letter-spacing: .5px; }

.addlink {
  text-decoration: none;
  outline: none;
  border-bottom: 1px solid #195C89;
  font-weight: 600;
  color: #195C89; }

.removelink {
  text-decoration: none;
  outline: none;
  color: inherit; }

.navOpen {
  background-color: white;
  height: 100vh;
  width: 100vw;
  z-index: 20000;
  position: fixed;
  top: 0;
  left: 0; }
  .navOpen__nav {
    padding: 0 4rem;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navOpen__nav--icon {
      height: 2rem;
      cursor: pointer; }
  .navOpen__body {
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .navOpen__body--item {
      margin-bottom: 2rem;
      color: #333 !important;
      font-size: 1.7rem;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      transition: all .2s; }
      .navOpen__body--item:hover {
        font-weight: 600; }

.footer {
  width: 100%;
  background-color: white;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .footer__copyright {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333; }
  .footer__socials {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem; }
  .footer__social {
    display: flex;
    margin-bottom: 1.5rem;
    margin-right: 20px;
    cursor: pointer; }
    .footer__social:hover > .footer__social--text {
      text-decoration: underline; }
    .footer__social--icon {
      height: 2rem;
      margin-right: 0.35rem; }
    .footer__social--text {
      font-size: 1.4rem;
      color: #333;
      font-weight: 500; }
      .footer__social--text:hover {
        text-decoration: underline; }

.homeHeader {
  position: relative;
  height: 98vh; }
  .homeHeader__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 98vh;
    width: 100vw; }
    .homeHeader__backdrop--cover {
      position: absolute;
      top: 0;
      left: 0;
      height: 98vh;
      width: 100vw;
      background-image: linear-gradient(to right, #195C89, #333);
      opacity: .9;
      z-index: 200; }
    .homeHeader__backdrop--video {
      background-color: grey;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 10; }
  .homeHeader__content {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 300;
    height: 50rem;
    width: 55vw; }
    @media (max-width: 56.25em) {
      .homeHeader__content {
        top: 33%;
        width: 85vw; } }
  .homeHeader__title {
    color: white;
    font-size: 5rem;
    font-weight: 600; }
  .homeHeader__subtitle {
    color: white;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 4rem; }
  .homeHeader__description {
    color: white;
    font-size: 1.4rem;
    font-weight: 500; }
  .homeHeader__action {
    border: 3px solid white;
    border-radius: 100px;
    color: #195C89;
    color: white;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    padding: 1.5rem 3rem;
    outline: none;
    cursor: pointer;
    transition: all .2s; }
    .homeHeader__action:hover {
      transform: scale(1.02); }

.homeCollaborators {
  padding: 4rem;
  width: 100vw;
  background-color: #fbfbfb; }
  .homeCollaborators__title {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2.7rem;
    font-weight: 600;
    color: #333; }
  .homeCollaborators__collaborators {
    display: flex;
    justify-content: space-around; }
    @media (max-width: 56.25em) {
      .homeCollaborators__collaborators {
        flex-wrap: wrap; } }
  .homeCollaborators__collaborator {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #333; }
    @media (max-width: 56.25em) {
      .homeCollaborators__collaborator {
        margin-bottom: 2rem; } }
    .homeCollaborators__collaborator--logo {
      height: 8rem;
      margin-bottom: 1.5rem; }
    .homeCollaborators__collaborator--text {
      font-size: 1.4rem;
      font-weight: 500;
      text-align-last: center; }

.homeAbout {
  width: 100%;
  padding: 0 10%; }
  @media (max-width: 56.25em) {
    .homeAbout {
      padding: 0 4rem; } }
  .homeAbout__header {
    padding: 8rem 0;
    background-color: white;
    display: flex;
    flex-direction: column; }
    @media (max-width: 56.25em) {
      .homeAbout__header {
        padding: 6rem 0; } }
  .homeAbout__title {
    font-size: 1.7rem;
    color: #333; }
  .homeAbout__subtitle {
    font-size: 3.6rem;
    font-weight: 600;
    color: #195C89; }
  .homeAbout__body {
    font-size: 2rem;
    font-weight: 400;
    color: #333; }
  .homeAbout__pillars {
    display: flex; }
    @media (max-width: 56.25em) {
      .homeAbout__pillars {
        flex-direction: column; } }
    .homeAbout__pillars--title {
      font-size: 3rem;
      font-weight: 500;
      margin-bottom: 2rem; }
    .homeAbout__pillars--left {
      padding-right: 4rem;
      width: 50%; }
      @media (max-width: 56.25em) {
        .homeAbout__pillars--left {
          width: 100%;
          margin-bottom: 2rem; } }
    .homeAbout__pillars--right {
      padding-right: 4rem;
      width: 50%; }
      @media (max-width: 56.25em) {
        .homeAbout__pillars--right {
          width: 100%; } }
    .homeAbout__pillars--sacred {
      width: 17rem; }
  .homeAbout__pillar {
    display: flex;
    align-items: center;
    margin-bottom: 2rem; }
    .homeAbout__pillar--icon {
      height: 2rem;
      margin-right: 1.5rem; }
    .homeAbout__pillar--text {
      font-size: 1.7rem;
      font-weight: 500; }
  .homeAbout__items {
    padding-top: 8rem;
    display: flex;
    flex-direction: column; }
    @media (max-width: 56.25em) {
      .homeAbout__items {
        padding-top: 6rem; } }
    .homeAbout__items--title {
      font-size: 3.6rem;
      font-weight: 600;
      color: #333;
      margin-bottom: 2rem; }
  .homeAbout__item {
    display: flex;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .homeAbout__item {
        flex-direction: column;
        align-items: center;
        margin-bottom: 6rem; } }
    .homeAbout__item--swap {
      display: flex; }
      @media (max-width: 56.25em) {
        .homeAbout__item--swap {
          display: none; } }
    .homeAbout__item--mobile {
      display: none; }
      @media (max-width: 56.25em) {
        .homeAbout__item--mobile {
          display: flex;
          flex-direction: column;
          align-items: center; } }
    .homeAbout__item--photo {
      background-position: center;
      background-size: cover;
      height: 20vw;
      width: 40vw; }
      @media (max-width: 56.25em) {
        .homeAbout__item--photo {
          height: 45vw;
          width: 90vw;
          margin-bottom: 1rem; } }
      .homeAbout__item--photo--one {
        background-image: url("../../../../src/assets/images/cogov__unenclosability.png"); }
      .homeAbout__item--photo--two {
        background-image: url("../../../../src/assets/images/cogov__scalability.png"); }
      .homeAbout__item--photo--three {
        background-image: url("../../../../src/assets/images/cogov__transparency.png"); }
      .homeAbout__item--photo--four {
        background-image: url("../../../../src/assets/images/cogov__iteration.png"); }
      .homeAbout__item--photo--five {
        background-image: url("../../../../src/assets/images/cogov__interoperability.png"); }
    .homeAbout__item--text {
      width: 40vw; }
      @media (max-width: 56.25em) {
        .homeAbout__item--text {
          width: 100%; } }
      .homeAbout__item--text--right {
        margin-left: 8rem; }
        @media (max-width: 56.25em) {
          .homeAbout__item--text--right {
            margin-left: 0; } }
      .homeAbout__item--text--left {
        margin-right: 8rem; }
        @media (max-width: 56.25em) {
          .homeAbout__item--text--left {
            margin-right: 0; } }
    .homeAbout__item--title {
      font-size: 2.4rem;
      font-weight: 600;
      color: #333;
      text-transform: uppercase; }
    .homeAbout__item--body {
      font-size: 1.7rem;
      font-weight: 400; }
    .homeAbout__item--video {
      width: 40vw;
      height: 20vw; }
      @media (max-width: 56.25em) {
        .homeAbout__item--video {
          width: 90vw;
          height: 45vw;
          margin-bottom: 1rem; } }

.homeDetails {
  width: 100%;
  background-color: #fbfbfb;
  padding: 4rem 12%; }
  @media (max-width: 56.25em) {
    .homeDetails {
      padding: 4rem; } }
  .homeDetails__title {
    font-size: 3.3rem;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 1rem; }
  .homeDetails__subtitle {
    padding: 0 15%;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 4rem; }
    @media (max-width: 56.25em) {
      .homeDetails__subtitle {
        padding: 0; } }
  .homeDetails__types {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 56.25em) {
      .homeDetails__types {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; } }
  .homeDetails__type {
    margin: 0 2rem;
    height: 27rem;
    width: 27rem; }
    @media (max-width: 56.25em) {
      .homeDetails__type {
        margin: 0 0 2rem 0; } }
  .homeDetails__header {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover; }
    .homeDetails__header--developer {
      background-image: linear-gradient(to right, rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5)), url("../../../../src/assets/images/cogov__developer.png"); }
    .homeDetails__header--philosopher {
      background-image: linear-gradient(to right, rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5)), url("../../../../src/assets/images/cogov__philosopher.png"); }
    .homeDetails__header--creator {
      background-image: linear-gradient(to right, rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5)), url("../../../../src/assets/images/cogov__creator.png"); }
    .homeDetails__header--title {
      color: white;
      font-size: 2rem;
      font-weight: 600;
      padding-top: 25%;
      text-align: center; }
  .homeDetails__cta {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 50%;
    margin-top: 1.875rem;
    transform: translateX(-50%);
    background-color: transparent;
    border: 1.5px solid white;
    color: white;
    transition: all .2s;
    cursor: pointer; }
    .homeDetails__cta:hover {
      border: 1.5px solid #195C89;
      background-color: #195C89;
      color: white; }

.homePoweredBy {
  padding: 5% 10%;
  background-color: #fbfbfb;
  display: flex; }
  .homePoweredBy__left {
    width: 50%;
    height: 100%;
    padding-right: 2.5rem; }
    .homePoweredBy__left--video {
      height: 30rem;
      width: 100%; }
  .homePoweredBy__right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2.5rem; }
    .homePoweredBy__right--title {
      font-size: 3.3rem;
      font-weight: 600;
      color: #195C89;
      margin-bottom: .5rem; }
    .homePoweredBy__right--text {
      font-size: 1.7rem;
      margin-bottom: 2rem; }
    .homePoweredBy__right--more {
      padding: 1rem 2rem;
      font-size: 1.4rem;
      font-weight: 600;
      color: #222;
      background-color: transparent;
      border: 1.5px solid #222;
      align-self: flex-start;
      transition: all .2s;
      cursor: pointer; }
      .homePoweredBy__right--more:hover {
        color: white;
        background-color: #805691;
        border: 1.5px solid #805691; }

.visionHeader {
  padding: 12%;
  height: 85vh;
  background-image: linear-gradient(to right, rgba(51, 51, 51, 0.4), rgba(34, 34, 34, 0.4)), url("../../../../src/assets/images/cogov__stars.png");
  background-position: center;
  background-size: cover; }
  @media (max-width: 56.25em) {
    .visionHeader {
      padding: 12% 4rem; } }
  .visionHeader__title {
    font-size: 5rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem; }
  .visionHeader__subtitle {
    font-size: 2rem;
    color: white;
    font-weight: 500; }

.visionBody {
  background-color: white;
  padding: 4rem 17%; }
  @media (max-width: 56.25em) {
    .visionBody {
      padding: 4rem; } }
  .visionBody__text {
    text-align: center;
    margin-bottom: 2rem; }
  .visionBody__title {
    font-size: 3.3rem;
    color: #195C89;
    font-weight: 600;
    margin-bottom: 1rem; }
  .visionBody__body {
    font-size: 1.7rem;
    color: #333;
    font-weight: 500; }
  .visionBody__levels {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .visionBody__levels--title {
      font-size: 2.7rem;
      text-align: center;
      font-weight: 600;
      margin-bottom: 2rem; }
    .visionBody__levels--photo {
      width: 50%; }
      @media (max-width: 56.25em) {
        .visionBody__levels--photo {
          width: 80%; } }

.aboutQuote {
  padding: 12%;
  height: 80vh;
  background-image: linear-gradient(to right, rgba(51, 51, 51, 0.4), rgba(34, 34, 34, 0.4)), url("../../../../src/assets/images/cogov__background--founder.png");
  background-position: center;
  background-size: cover; }
  @media (max-width: 56.25em) {
    .aboutQuote {
      padding: 12% 4rem; } }
  .aboutQuote__title {
    font-size: 5rem;
    color: white;
    font-weight: 600; }
  .aboutQuote__quote {
    font-size: 2rem;
    color: white;
    font-weight: 500; }

.aboutFounder {
  padding: 8rem 12%;
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex; }
  @media (max-width: 56.25em) {
    .aboutFounder {
      padding: 4rem;
      flex-direction: column;
      align-items: center; } }
  .aboutFounder__left {
    width: 50%;
    position: relative;
    margin-right: 4rem; }
    @media (max-width: 56.25em) {
      .aboutFounder__left {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem; } }
    .aboutFounder__left--image {
      width: 100%;
      position: absolute;
      top: 0;
      right: 0; }
      @media (max-width: 56.25em) {
        .aboutFounder__left--image {
          position: relative; } }
  .aboutFounder__right {
    width: 50%;
    margin-left: 4rem; }
    @media (max-width: 56.25em) {
      .aboutFounder__right {
        width: 100%;
        margin-left: 0; } }
  .aboutFounder__container {
    margin-bottom: 2rem; }
  .aboutFounder__title {
    font-size: 3.3rem;
    font-weight: 600;
    color: #195C89;
    margin-bottom: .5rem; }
  .aboutFounder__body {
    font-size: 1.7rem;
    color: #333;
    text-align: justify; }
  .aboutFounder__contact {
    padding: 1rem 2rem;
    border: 1.5px solid #222;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: transparent;
    transition: all .2s;
    cursor: pointer; }
    .aboutFounder__contact:hover {
      border: 1.5px solid #805691;
      background-color: #805691;
      color: white; }

.holochainHeader {
  padding: 12%;
  height: 80vh;
  background-image: linear-gradient(to right, rgba(51, 51, 51, 0.4), rgba(34, 34, 34, 0.4)), url("../../../../src/assets/images/cogov__northerlights.png");
  background-position: center;
  background-size: cover; }
  @media (max-width: 56.25em) {
    .holochainHeader {
      padding: 12% 4rem; } }
  .holochainHeader__title {
    font-size: 5rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem; }
  .holochainHeader__subtitle {
    font-size: 2rem;
    color: white;
    font-weight: 500; }

.holochainBullets {
  height: 45rem;
  display: flex;
  padding: 0 12%; }
  .holochainBullets__left {
    width: 50%; }
  .holochainBullets__right {
    width: 50%; }
  .holochainBullets__title {
    color: #195C89;
    font-size: 2.2rem;
    font-weight: 600; }
  .holochainBullets__body {
    font-size: 1.7rem;
    font-weight: 500; }

.holochainCoGov {
  padding: 4rem 12% 8rem 12%; }
  @media (max-width: 56.25em) {
    .holochainCoGov {
      padding: 4rem; } }
  .holochainCoGov__text {
    margin-bottom: 2rem; }
  .holochainCoGov__title {
    text-align: center;
    color: #195C89;
    font-size: 3.3rem;
    font-weight: 600;
    margin-bottom: 2rem; }
  .holochainCoGov__body {
    text-align-last: left;
    font-size: 1.7rem;
    font-weight: 500;
    display: flex; }
    @media (max-width: 56.25em) {
      .holochainCoGov__body {
        flex-direction: column; } }
  .holochainCoGov__left {
    width: 50%;
    margin-right: 4rem;
    text-align: justify;
    margin-bottom: 2rem; }
    @media (max-width: 56.25em) {
      .holochainCoGov__left {
        width: 100%;
        margin-right: 0; } }
  .holochainCoGov__right {
    width: 50%;
    margin-left: 4rem;
    text-align: justify;
    margin-bottom: 2rem; }
    @media (max-width: 56.25em) {
      .holochainCoGov__right {
        width: 100%;
        margin-left: 0; } }
  .holochainCoGov__column--title {
    color: #333;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem; }
  .holochainCoGov__column--body {
    font-size: 1.7rem;
    color: #333; }
  .holochainCoGov__video {
    margin-top: 2rem;
    width: 100%;
    height: 36vw; }
    @media (max-width: 56.25em) {
      .holochainCoGov__video {
        height: 50vw; } }

.connectHeader {
  padding: 12%;
  height: 80vh;
  background-image: linear-gradient(to right, rgba(51, 51, 51, 0.4), rgba(34, 34, 34, 0.4)), url("../../../../src/assets/images/cogov__mandala--three.png");
  background-position: center;
  background-size: cover; }
  @media (max-width: 56.25em) {
    .connectHeader {
      padding: 12% 4rem; } }
  .connectHeader__title {
    font-size: 5rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem; }
  .connectHeader__subtitle {
    font-size: 2rem;
    color: white;
    font-weight: 500; }
  .connectHeader__button {
    margin-top: 2rem;
    padding: 1.5rem 3rem;
    font-size: 1.4rem;
    font-weight: 500;
    border: 2px solid white;
    border-radius: 25px;
    margin-right: 1rem;
    outline: none;
    cursor: pointer;
    transition: all .2s; }
    .connectHeader__button:hover {
      transform: scale(1.05); }
