*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
  outline: none;
  letter-spacing: .5px; }

.removelink {
  text-decoration: none;
  outline: none;
  color: inherit; }

.home {
  height: 100%;
  width: 100%;
  position: relative; }

.about {
  margin-top: 7rem;
  height: 100%;
  width: 100%;
  position: relative; }

.holochain {
  margin-top: 7rem;
  height: 100%;
  width: 100%;
  position: relative; }

.whitepaperPage {
  margin-top: 7rem;
  height: 100%;
  width: 100%;
  position: relative; }

.connect {
  margin-top: 7rem;
  height: 100%;
  width: 100%;
  position: relative; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 8rem;
  background-color: white;
  display: flex;
  padding: 0 5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee; }
  .nav__logo--container {
    height: 3rem;
    display: flex;
    align-items: center; }
  .nav__logo--image {
    height: 100%; }
  .nav__logo--text {
    font-size: 17px;
    font-weight: 500;
    margin-left: .75rem;
    color: #333; }
  .nav__items {
    display: flex;
    align-items: center; }
  .nav__item {
    margin-left: 4rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #555;
    cursor: pointer;
    transition: all .2s; }
    .nav__item:hover {
      color: #195C89; }
  .nav__button {
    margin-left: 4rem;
    padding: 1rem 2rem;
    color: #333;
    border-radius: 25px;
    border: 1.5px solid #333;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer; }

.navhome {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 8rem;
  background-color: transparent;
  display: flex;
  padding: 0 5rem;
  align-items: center;
  justify-content: space-between; }
  .navhome__logo--container {
    height: 3.6rem;
    display: flex;
    align-items: center; }
  .navhome__logo--image {
    height: 100%; }
  .navhome__logo--text {
    font-size: 22px;
    font-weight: 500;
    margin-left: .75rem;
    color: white; }
  .navhome__items {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .navhome__item {
    margin-left: 4rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: all .2s; }
  .navhome__button {
    margin-left: 4rem;
    padding: 1rem 2rem;
    background-color: transparent;
    color: white;
    border: 1.5px solid white;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s; }

.whitepaper {
  background-color: white;
  padding: 8rem 12%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .whitepaper__image {
    width: 50%;
    height: 45rem;
    position: relative;
    margin-right: 5rem; }
    .whitepaper__image--photo {
      position: absolute;
      top: 0;
      right: 0;
      height: 45rem; }
  .whitepaper__text {
    width: 50%;
    margin-left: 5rem;
    color: #333;
    display: flex;
    flex-direction: column; }
    .whitepaper__text--title {
      font-size: 3.3rem;
      font-weight: 600; }
    .whitepaper__text--body {
      font-size: 1.7rem;
      font-weight: 500;
      margin-bottom: 2rem; }
    .whitepaper__text--button {
      align-self: flex-start;
      padding: 1rem 2rem;
      background-color: transparent;
      border: 2px solid #333;
      color: #333;
      font-size: 1.2rem;
      font-weight: 600;
      transition: all .2s;
      cursor: pointer; }
      .whitepaper__text--button:hover {
        border: 2px solid #805691;
        background-color: #805691; }

.footer {
  height: 27rem;
  width: 100%;
  background-color: white;
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between; }
  .footer__left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer__right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer__logo {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .footer__logo--image {
      height: 5rem;
      margin-right: .5rem; }
    .footer__logo--text {
      color: #333;
      font-size: 2.7rem;
      font-weight: 500; }
  .footer__copyright {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333; }
  .footer__socials {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer__social {
    display: flex;
    margin-bottom: 1.5rem;
    cursor: pointer; }
    .footer__social:hover > .footer__social--text {
      text-decoration: underline; }
    .footer__social--icon {
      height: 2rem;
      margin-right: 1rem; }
    .footer__social--text {
      font-size: 1.4rem;
      color: #333;
      font-weight: 500; }
      .footer__social--text:hover {
        text-decoration: underline; }

.homeHeader {
  position: relative;
  height: 98vh; }
  .homeHeader__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 98vh;
    width: 100vw; }
    .homeHeader__backdrop--cover {
      position: absolute;
      top: 0;
      left: 0;
      height: 98vh;
      width: 100vw;
      background-image: linear-gradient(to right, #195C89, #333);
      opacity: .9;
      z-index: 200; }
    .homeHeader__backdrop--video {
      background-color: grey;
      height: 100%;
      width: 100%;
      object-fit: fill;
      z-index: 10; }
  .homeHeader__content {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 300;
    height: 50rem;
    width: 55vw; }
  .homeHeader__title {
    color: white;
    font-size: 6rem;
    font-weight: 600; }
  .homeHeader__subtitle {
    color: white;
    font-size: 2.7rem;
    font-weight: 400;
    margin-bottom: 2rem; }
  .homeHeader__description {
    color: white;
    font-size: 1.7rem;
    margin-bottom: 2rem; }
  .homeHeader__action {
    border: 3px solid white;
    border-radius: 100px;
    color: #195C89;
    color: white;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    padding: 1.5rem 3rem;
    outline: none;
    cursor: pointer;
    transition: all .2s; }
    .homeHeader__action:hover {
      transform: scale(1.02); }

.homeCollaborators {
  padding: 4rem;
  width: 100vw;
  background-color: #fbfbfb; }
  .homeCollaborators__title {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2.7rem;
    font-weight: 600;
    color: #333; }
  .homeCollaborators__collaborators {
    display: flex;
    justify-content: space-around; }
  .homeCollaborators__collaborator {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #333; }
    .homeCollaborators__collaborator--logo {
      height: 8rem;
      margin-bottom: 1.5rem; }
    .homeCollaborators__collaborator--text {
      font-size: 1.4rem;
      font-weight: 500;
      text-align-last: center; }

.homeAbout {
  width: 100%;
  padding: 0 10%; }
  .homeAbout__header {
    padding: 12rem 0;
    background-color: white;
    display: flex;
    flex-direction: column; }
  .homeAbout__title {
    font-size: 1.7rem;
    color: #333; }
  .homeAbout__subtitle {
    font-size: 4.2rem;
    font-weight: 600;
    color: #195C89; }
  .homeAbout__body {
    font-size: 2rem;
    font-weight: 400;
    color: #333; }
  .homeAbout__items {
    display: flex;
    flex-direction: column; }
  .homeAbout__item {
    display: flex;
    margin-bottom: 8rem; }
    .homeAbout__item--photo {
      background-position: center;
      background-size: cover;
      height: 20vw;
      width: 40vw; }
      .homeAbout__item--photo--one {
        background-image: url("../../../../src/assets/images/cogov__unenclosability.png"); }
      .homeAbout__item--photo--two {
        background-image: url("../../../../src/assets/images/cogov__scalability.png"); }
      .homeAbout__item--photo--three {
        background-image: url("../../../../src/assets/images/cogov__transparency.png"); }
      .homeAbout__item--photo--four {
        background-image: url("../../../../src/assets/images/cogov__iteration.png"); }
      .homeAbout__item--photo--five {
        background-image: url("../../../../src/assets/images/cogov__interoperability.png"); }
    .homeAbout__item--text {
      width: 40vw; }
      .homeAbout__item--text--right {
        margin-left: 8rem; }
      .homeAbout__item--text--left {
        margin-right: 8rem; }
    .homeAbout__item--title {
      font-size: 2.4rem;
      font-weight: 600;
      color: #333;
      text-transform: uppercase; }
    .homeAbout__item--body {
      font-size: 1.7rem;
      font-weight: 400; }

.homeDetails {
  width: 100%;
  background-color: #fbfbfb;
  padding: 4rem 12%; }
  .homeDetails__title {
    font-size: 3.3rem;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 1rem; }
  .homeDetails__subtitle {
    padding: 0 15%;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 4rem; }
  .homeDetails__types {
    display: flex;
    justify-content: space-between; }
  .homeDetails__type {
    margin: 0 2rem;
    height: 27rem;
    width: 27rem; }
  .homeDetails__header {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover; }
    .homeDetails__header--developer {
      background-image: linear-gradient(to right, rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5)), url("../../../../src/assets/images/cogov__developer.png"); }
    .homeDetails__header--philosopher {
      background-image: linear-gradient(to right, rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5)), url("../../../../src/assets/images/cogov__philosopher.png"); }
    .homeDetails__header--creator {
      background-image: linear-gradient(to right, rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5)), url("../../../../src/assets/images/cogov__creator.png"); }
    .homeDetails__header--title {
      color: white;
      font-size: 2rem;
      font-weight: 600;
      padding-top: 25%;
      text-align: center; }
  .homeDetails__cta {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 50%;
    margin-top: 1.875rem;
    transform: translateX(-50%);
    background-color: transparent;
    border: 1.5px solid white;
    color: white;
    transition: all .2s;
    cursor: pointer; }
    .homeDetails__cta:hover {
      border: 1.5px solid #195C89;
      background-color: #195C89;
      color: white; }

.homePoweredBy {
  padding: 5% 10%;
  background-color: #fbfbfb;
  display: flex; }
  .homePoweredBy__left {
    width: 50%;
    height: 100%;
    padding-right: 2.5rem; }
    .homePoweredBy__left--video {
      height: 30rem;
      width: 100%; }
  .homePoweredBy__right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2.5rem; }
    .homePoweredBy__right--title {
      font-size: 3.3rem;
      font-weight: 600;
      color: #195C89;
      margin-bottom: .5rem; }
    .homePoweredBy__right--text {
      font-size: 1.7rem;
      margin-bottom: 2rem; }
    .homePoweredBy__right--more {
      padding: 1rem 2rem;
      font-size: 1.4rem;
      font-weight: 600;
      color: #222;
      background-color: transparent;
      border: 1.5px solid #222;
      align-self: flex-start;
      transition: all .2s;
      cursor: pointer; }
      .homePoweredBy__right--more:hover {
        color: white;
        background-color: #805691;
        border: 1.5px solid #805691; }

.aboutQuote {
  background-color: white;
  width: 100%;
  padding: 8rem 12% 4rem 12%;
  text-align: center; }
  .aboutQuote__text {
    font-size: 3.3rem;
    color: #333;
    font-weight: 600; }
  .aboutQuote__founder--name {
    font-size: 2rem;
    color: #333;
    font-weight: 500; }

.aboutFounder {
  padding: 4rem 12% 8rem 12%;
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex; }
  .aboutFounder__left {
    width: 50%;
    position: relative;
    margin-right: 4rem; }
    .aboutFounder__left--image {
      width: 100%;
      position: absolute;
      top: 0;
      right: 0; }
  .aboutFounder__right {
    width: 50%;
    margin-left: 4rem; }
  .aboutFounder__container {
    margin-bottom: 2rem; }
  .aboutFounder__title {
    font-size: 2.2rem;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
    margin-bottom: .5rem; }
  .aboutFounder__body {
    font-size: 1.7rem;
    color: #333; }
  .aboutFounder__contact {
    padding: 1rem 2rem;
    border: 1.5px solid #222;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: transparent;
    transition: all .2s;
    cursor: pointer; }
    .aboutFounder__contact:hover {
      border: 1.5px solid #805691;
      background-color: #805691;
      color: white; }

.holochainHeader {
  display: flex;
  padding: 8rem 6% 4rem 6%; }
  .holochainHeader__left {
    margin-right: 3rem;
    width: 50%; }
  .holochainHeader__video {
    width: 100%;
    height: 100%; }
  .holochainHeader__right {
    width: 50%;
    margin-left: 3rem; }
  .holochainHeader__title {
    font-size: 3.3rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem; }
  .holochainHeader__body {
    font-size: 1.7rem;
    font-weight: 100500; }

.holochainBullets {
  height: 45rem;
  display: flex;
  padding: 0 12%; }
  .holochainBullets__left {
    width: 50%; }
  .holochainBullets__right {
    width: 50%; }
  .holochainBullets__title {
    color: #195C89;
    font-size: 2.2rem;
    font-weight: 600; }
  .holochainBullets__body {
    font-size: 1.7rem;
    font-weight: 500; }

.holochainCoGov {
  padding: 4rem 17% 8rem 17%; }
  .holochainCoGov__title {
    text-align: center;
    color: #333;
    font-size: 3.3rem;
    font-weight: 600;
    margin-bottom: 2rem; }
  .holochainCoGov__body {
    text-align-last: center;
    font-size: 1.7rem;
    font-weight: 500; }

.connectHeader {
  width: 100%;
  background-color: white;
  padding: 8rem 12%;
  display: flex; }
  .connectHeader__left {
    width: 50%; }
  .connectHeader__title {
    color: #333;
    font-size: 3.3rem;
    font-weight: 600;
    margin-bottom: 1rem; }
  .connectHeader__body {
    font-size: 1.7rem;
    margin-bottom: 1rem; }
  .connectHeader__founder {
    display: flex;
    align-items: center; }
    .connectHeader__founder--text {
      font-size: 1.4rem;
      margin-bottom: 2rem;
      font-weight: 500;
      text-transform: uppercase; }
  .connectHeader__nav {
    display: flex;
    align-items: center;
    margin-bottom: 2rem; }
  .connectHeader__button {
    font-weight: 500;
    padding: 1rem 0;
    width: 12rem;
    background-color: white;
    border: 2px solid #333;
    margin-right: 1.5rem;
    outline: none;
    cursor: pointer;
    transition: all .2s; }
    .connectHeader__button:hover {
      transform: scale(1.05); }
  .connectHeader__right {
    width: 50%;
    height: 36rem;
    position: relative; }
  .connectHeader__headshot {
    height: auto;
    width: 24rem;
    margin-right: 1.5rem;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 10rem; }
    .connectHeader__headshot--photo {
      height: 100%;
      width: 100%; }
  .connectHeader__mandala {
    height: 36rem;
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%); }
