*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Avenir', 'Raleway', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
  outline: none;
  letter-spacing: .5px; }

.home {
  margin-top: 7rem;
  height: 100%;
  width: 100%;
  position: relative; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 7rem;
  background-color: white;
  display: flex;
  padding: 0 1.5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #805691; }
  .nav__logo--container {
    height: 3rem;
    display: flex;
    align-items: center; }
  .nav__logo--image {
    height: 100%; }
  .nav__logo--text {
    font-size: 17px;
    font-weight: 500;
    margin-left: .75rem;
    color: #333; }
  .nav__items {
    display: flex; }
  .nav__item {
    margin-left: 2rem;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    cursor: pointer;
    transition: all .2s; }
    .nav__item:hover {
      color: #805691; }

.homeHeader {
  position: relative;
  height: 90vh; }
  .homeHeader__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100vw; }
    .homeHeader__backdrop--cover {
      position: absolute;
      top: 0;
      left: 0;
      height: 90vh;
      width: 100vw;
      background-image: linear-gradient(to right, #805691, #333);
      opacity: .9;
      z-index: 200; }
    .homeHeader__backdrop--video {
      background-color: grey;
      height: 100%;
      width: 100%;
      object-fit: fill;
      z-index: 10; }
  .homeHeader__content {
    position: absolute;
    top: 15rem;
    left: 10%;
    z-index: 300;
    height: 50rem;
    width: 50vw; }
  .homeHeader__title {
    color: white;
    font-size: 4rem;
    font-weight: 600; }
  .homeHeader__subtitle {
    color: white;
    font-size: 3.3rem;
    font-weight: 500;
    margin-bottom: 1rem; }
  .homeHeader__description {
    color: white;
    font-size: 1.7rem;
    margin-bottom: 2rem; }
  .homeHeader__action {
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    background-color: transparent;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all .2s; }
    .homeHeader__action:hover {
      border: 2px solid #333;
      background-color: #333; }

.homeCollaborators {
  padding: 4rem 0;
  width: 100vw;
  background-color: white; }
  .homeCollaborators__title {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 2.7rem;
    font-weight: 600;
    color: #333; }
  .homeCollaborators__collaborators {
    display: flex;
    justify-content: space-around; }
  .homeCollaborators__collaborator {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #333; }
    .homeCollaborators__collaborator--logo {
      height: 8rem;
      margin-bottom: 1.5rem; }
    .homeCollaborators__collaborator--text {
      font-size: 1.4rem;
      font-weight: 500;
      text-align-last: center; }

.homeAbout {
  margin: 4rem 0;
  width: 100%;
  padding: 0 10%; }
  .homeAbout__title {
    text-align: center;
    font-size: 3.3rem;
    color: #805691;
    margin-bottom: 1.5rem; }
  .homeAbout__subtitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    width: 60%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 6rem; }
  .homeAbout__items {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem; }
  .homeAbout__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4rem;
    width: 27rem; }
    .homeAbout__item--title {
      font-size: 1.7rem;
      font-weight: 600;
      text-transform: uppercase;
      color: #333;
      text-align: center;
      margin-bottom: 1.5rem; }
    .homeAbout__item--description {
      font-size: 1.4rem;
      font-weight: 500;
      color: #333;
      text-align: center; }
  .homeAbout__learnmore {
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: #805691;
    border: 1.5px solid currentColor;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    cursor: pointer; }

.homeDetails {
  width: 100%;
  background-color: #fbfbfb;
  padding: 5% 20%; }
  .homeDetails__title {
    font-size: 3.3rem;
    font-weight: 600;
    color: #805691;
    text-align: center;
    margin-bottom: 1rem; }
  .homeDetails__subtitle {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 4rem; }
  .homeDetails__types {
    display: flex;
    justify-content: space-between; }
  .homeDetails__type {
    height: 30rem;
    width: 24rem;
    background-color: white;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2); }

.homePoweredBy {
  padding: 5% 10%;
  background-color: #fbfbfb;
  display: flex; }
  .homePoweredBy__left {
    width: 50%;
    height: 100%;
    padding-right: 2.5rem; }
    .homePoweredBy__left--video {
      height: 30rem;
      width: 100%; }
  .homePoweredBy__right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2.5rem; }
    .homePoweredBy__right--title {
      font-size: 3.3rem;
      font-weight: 600;
      color: #805691;
      margin-bottom: .5rem; }
    .homePoweredBy__right--text {
      font-size: 1.7rem;
      margin-bottom: 7rem; }
    .homePoweredBy__right--more {
      padding: 1rem 2rem;
      font-size: 1.4rem;
      font-weight: 600;
      color: #805691;
      background-color: white;
      border: none;
      box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
      align-self: flex-start;
      cursor: pointer; }

.contact {
  background-image: linear-gradient(to right, #805691, #A578B6);
  padding: 8rem 12%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .contact__title {
    font-size: 3rem;
    color: white;
    font-weight: 600; }
  .contact__items {
    display: flex; }
  .contact__item {
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; }
    .contact__item--email {
      margin-right: 5rem; }
    .contact__item--icon {
      color: white;
      height: 3.3rem;
      margin-bottom: 1rem; }

.footer {
  height: 36rem;
  width: 100%;
  background-color: #222; }
