
.homeAbout {
    width: 100%;    
    padding: 0 10%;

    @include respond(tab-port) {
        padding: 0 4rem;
    }

    &__header {
        padding: 8rem 0;
        background-color: white;
        display: flex;
        flex-direction: column;

        @include respond(tab-port) {
            padding: 6rem 0 ;
        }
        

    }

    &__title {
        font-size: 1.7rem;  
        color: $cogov-grey; 
    }

    &__subtitle  {
        font-size: 3rem;
        font-weight: 600; 
        color: $cogov-primary;
    }

    &__body {
        font-size: 2rem;
        font-weight: 400;
        color: $cogov-grey;
    }


    &__pillars {
        display: flex;

        @include respond(tab-port) {
            flex-direction: column;
        }

        &--title {
            font-size: 3rem;
            font-weight: 500;
            margin-bottom: 2rem; 
        }
        
        &--left {
            padding-right: 4rem;
            width: 50%;

            @include respond(tab-port) {
                width: 100%;
                margin-bottom: 2rem; 
            }
        }

        &--right {
            padding-right: 4rem;
            width: 50%;

            @include respond(tab-port) {
                width: 100%;
            }            
        }
        &--sacred {
            width: 17rem;
        }
    }

    &__pillar {
        display: flex;
        align-items: center;
        margin-bottom: 2rem; 

        &--icon {
            height: 2rem;
            margin-right: 1.5rem; 
        }

        &--text {
            font-size: 1.7rem;
            font-weight: 500;
        }
    }

    &__items {
        padding-top: 8rem;
        display: flex;
        flex-direction: column; 

        @include respond(tab-port) {
            padding-top: 6rem; 
        }

        &--title {
            font-size: 3.6rem;
            font-weight: 600;
            color:  #333;
            margin-bottom: 2rem; 
        }
    }

    &__item {
        display: flex;
        margin-bottom:8rem; 

        @include respond(tab-port) {
            flex-direction: column;  
            align-items: center;
            margin-bottom: 6rem;   
        }

        &--swap {
            display: flex;

            @include respond(tab-port) {
                display: none; 
            }
        }

        &--mobile {
            display: none;

            @include respond(tab-port) {
                display: flex; 
                flex-direction: column;  
                align-items: center;                
                
            }            

        }

        &--photo {
            background-position: center;
            background-size: cover;
            height: 20vw;
            width: 40vw;      


            @include respond(tab-port) {
                height: 45vw; 
                width: 90vw;   
                margin-bottom: 1rem; 
            }            
            
            &--one {
                background-image: url('../../../../src/assets/images/cogov__unenclosability.png');
            }

            &--two {
                background-image: url('../../../../src/assets/images/cogov__scalability.png');
            }

            &--three {
                background-image: url('../../../../src/assets/images/cogov__transparency.png');
            }
            
            &--four {
                background-image: url('../../../../src/assets/images/cogov__iteration.png');
            }
            
            &--five {
                background-image: url('../../../../src/assets/images/cogov__interoperability.png');
            }            
        }

        &--text {
            width: 40vw;

            @include respond(tab-port) {
                width: 100%; 
            }

            &--right {
                margin-left:8rem;

                @include respond(tab-port) {
                    margin-left: 0;
                }                

            }

            &--left {
                margin-right: 8rem;

                @include respond(tab-port) {
                    margin-right: 0;
                }                

            }
        }

        &--title {
            font-size: 2.4rem;
            font-weight: 600;
            color: $cogov-grey;
            text-transform: uppercase;
        }

        &--body {
            font-size: 1.7rem;
            font-weight: 400;
        }

        &--video {
            width: 40vw;
            height: 20vw;

            @include respond(tab-port) {
                width: 90vw;
                height: 45vw;
                margin-bottom: 1rem;
            }
        }
    }

}