
.homeAbout {
    margin: 4rem 0; 
    width: 100%;    

    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        text-align: center;
        font-size: 2.7rem;  
        color: $cogov-primary; 
        margin-bottom: 1.5rem;
    }

    &__subtitle  {
        text-align-last: center;
        font-size: 2rem;
        font-weight: 500; 
        color: $cogov-grey;
        padding: 0 30rem; 

    }
}