
.homeAbout {
    width: 100%;    
    padding: 0 10%;


    &__header {
        padding: 12rem 0;
        background-color: white;
        display: flex;
        flex-direction: column;

    }

    &__title {
        font-size: 1.7rem;  
        color: $cogov-grey; 
    }

    &__subtitle  {
        font-size: 4.2rem;
        font-weight: 600; 
        color: $cogov-primary;
    }

    &__body {
        font-size: 2rem;
        font-weight: 400;
        color: $cogov-grey;
    }

    &__items {
        // background-color: #eee;
        display: flex;
        flex-direction: column; 
    }

    &__item {
        display: flex;
        margin-bottom:8rem; 

        &--photo {
            background-position: center;
            background-size: cover;
            height: 20vw;
            width: 40vw;      
            
            &--one {
                background-image: url('../../../../src/assets/images/cogov__unenclosability.png');
            }

            &--two {
                background-image: url('../../../../src/assets/images/cogov__scalability.png');
            }

            &--three {
                background-image: url('../../../../src/assets/images/cogov__transparency.png');
            }
            
            &--four {
                background-image: url('../../../../src/assets/images/cogov__iteration.png');
            }
            
            &--five {
                background-image: url('../../../../src/assets/images/cogov__interoperability.png');
            }            
        }

        &--text {
            width: 40vw;

            &--right {
                margin-left:8rem;

            }

            &--left {
                margin-right: 8rem;

            }
        }

        &--title {
            font-size: 2.4rem;
            font-weight: 600;
            color: $cogov-grey;
            text-transform: uppercase;
        }

        &--body {
            font-size: 1.7rem;
            font-weight: 400;
        }
    }

}