
.warOnSenseMakingHeader {
    padding: 12%;
    height: 85vh; 
    background-image: linear-gradient(to right, rgba(#333, .4),rgba(#222, .4)), url('../../../../src/assets/images/cogov__war-on-sense-making.jpeg');
    background-position: center;
    background-size: cover;   

    @include respond(tab-port) {
        padding: 12% 4rem; 
    }        


}