
.aboutQuote {
    padding: 12%;
    height: 85vh; 
    background-image: linear-gradient(to right, rgba(#333, .4),rgba(#222, .4)), url('../../../../src/assets/images/cogov__background--founder.png');
    background-position: center;
    background-size: cover;    


    @include respond(tab-port) {
        padding: 12% 4rem; 
    }    

    @include respond(tab-port) {
        background-image: linear-gradient(to right, rgba(#333, .4),rgba(#222, .4)), url('../../../../src/assets/images/cogov__background--founder--mobile.png');

    }        

    &__title {
        font-size: 5rem;
        color: white;
        font-weight: 600;

        @include respond(phone) {
            font-size: 4rem;
        }        
    }

    &__quote {
        font-size: 2rem;
        color: white;
        font-weight: 500;
    }

}