
.aboutQuote {
    background-color: white;
    width: 100%;
    padding: 8rem 12% 4rem 12%;
    text-align: center;

    &__text {
        font-size: 3.3rem;
        color: #333;
        font-weight: 600;
    }

    &__founder {

        &--name {
            font-size: 2rem;
            color: #333;
            font-weight: 500;
        }
    }

}