
.homeDetails {
    width: 100%;
    background-color: #fbfbfb;
    padding: 5% 20%;

    &__title {
        font-size: 3.3rem;
        font-weight: 600;
        color: $cogov-primary;
        text-align: center;

        margin-bottom: 1rem;
    }

    &__subtitle {
        font-size: 2rem;
        font-weight: 500;
        text-align: center; 
        margin-bottom: 4rem;
    }

    &__types {
        display: flex;
        justify-content: space-between;
    }

    &__type {
        margin: 0 2rem; 
        height: 30rem;
        min-width: 24rem;
        background-color: white;
        box-shadow: 0 .2rem .2rem rgba(0, 0, 0, .2);
    }

    &__header {
        position: relative;
        width: 100%;
        height: 60%;
        background-image: linear-gradient(to right, $cogov-primary, $cogov-primary-light);

        &--title {

            color: white;
            font-size: 2rem;
            font-weight: 600;
            padding-top: 50%;
            transform: translateY(-50%);
            text-align: center; 

            
        }
    }
}