
.holochainCoGov {
    padding: 4rem 17% 8rem 17%;;

    &__title {
        text-align: center;
        color: $cogov-grey;
        font-size: 3.3rem;
        font-weight: 600;

        margin-bottom: 2rem;    
    }

    &__body {
        text-align-last: center;
        font-size: 1.7rem;
        font-weight: 500;
    }
}