
.footer {
    height: 27rem; 
    width: 100%; 
    background-color: white;
    padding: 3rem 5rem; 
    // border-top: .5px solid #eee;

    display: flex;
    justify-content: space-between;

    &__left {
        height: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__right {
        height: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;        
    }

    &__logo {
        display: flex;
        align-items: center;
        cursor: pointer;

        &--image {
            height: 5rem; 
            margin-right: .5rem; 
        }

        &--text {
            color: #333;
            font-size: 2.7rem; 
            font-weight: 500; 
        }
    }

    &__copyright {
        font-size: 1.2rem;
        font-weight: 500;
        color: #333;
    }

    &__socials {
        height: 100%; 
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        float: right;

    }

    &__social {
        display: flex;
        margin-bottom: 1.5rem;
        margin-right:20px;
        cursor: pointer;       

        &:hover > &--text {
            text-decoration: underline;
        }
        &--icon {
            height: 2rem;
            margin-right: 0.35rem; 
        }
        &--text {
            font-size: 1.4rem;
            color: #333;
            font-weight: 500;     

            &:hover {
               text-decoration: underline;
            }                     
        }
    }
}