
.whitepaper {
    background-color: white;
    padding: 8rem 12%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &__image {
        width: 50%;
        height: 45rem; 
        position: relative;
        margin-right: 5rem;

        &--photo {
            position: absolute;
            top: 0;
            right: 0;
            height: 45rem;

        }
    }

    &__text {
        width: 50%; 
        margin-left: 5rem; 
        color: #333;
        display: flex;
        flex-direction: column;

        &--title {
            font-size: 3.3rem;
            font-weight: 600;
        }

        &--body {
            font-size: 1.7rem;
            font-weight: 500;
            margin-bottom: 2rem; 
        }

        &--button {
            align-self: flex-start;
            padding: 1rem 2rem; 
            background-color: transparent;
            border: 2px solid #333;
            color: #333; 
            font-size: 1.2rem;
            font-weight: 600; 

            transition: all .2s;
            cursor: pointer;

            &:hover {
                border: 2px solid $cogov-secondary;
                background-color: $cogov-secondary;
            }
        }
    }
}