
.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;

    height: 8rem;
    background-color: white;
    display: flex;
    padding: 0 4rem; 
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #eee;

    &__logo {
        &--container {
            height: 3rem;
            display: flex;
            align-items: center;            
        }

        &--image {
            height: 100%;

        }

        &--text {
            font-size: 17px;
            font-weight: 500;
            margin-left: .75rem;
            color: $cogov-grey;
        }
    }

    &__items {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-left: 3rem;
        font-size: 1.4rem;
        font-weight: 500;
        color: #555;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            color: $cogov-primary;
        }

        @include respond(tab-port) {
            display: none; 
        }            
    }

    &__button {
        margin-left: 3rem;
        padding: 1rem 2rem;
        color: #333;
        border-radius: 25px;
        border: 1.5px solid #333;
        font-size: 1.4rem;
        font-weight: 500;

        cursor: pointer;
        transition: all .2s;

        &:hover {
            transform: scale(1.05);
        }

    }

    &__mobile {
        display: none;
        cursor: pointer; 

        @include respond(tab-port) {
            // background-color:   green;
            height: 2rem;
            margin-left: 2rem; 
            display: block;            

        }
    }
}