.declarationContent {
    background-color: white; 
    padding: 4rem 17%; 

    @include respond(tab-port) {
        padding: 4rem; 
    }    

    &__title {
        font-size: 3.3rem;
        color: $cogov-primary;
        font-weight: 1000;
        margin-bottom: 1rem; 
        font-family: 'Parisienne', cursive;


    }

    &__body {
        font-size: 2.4rem;
        color: #333;
        font-weight: 500;
        text-align: justify;
        font-family: 'Parisienne', cursive;
        text-align:left;
    }

    & li { 
        margin-left:8rem; 
        margin-right:6rem; 
    }

}